* { clear: both; margin: 5px; padding: 5px; }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li { float: left;  }
li a {
    display: block;
}
/*
.ng-valid {
    border-color: green;
}

.ng-invalid {
    border-color: red;
}
*/
