<!DOCTYPE html>
<html ng-app="MatrixCalculatorApp" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <!-- <link href="css/index.css" rel="stylesheet" type="text/css"/> -->
  <link href="css/style.css" rel="stylesheet" type="text/css"/>
  <!--Frameworks-->
  <!--JQuery-->
  <script src="js/frameworks/jQuery/jQuery.js" type="text/javascript" xml:space="preserve"></script>
  <!--<script src="http://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript" xml:space="preserve"></script>
  <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript" xml:space="preserve"></script>-->

  <!--Angular-->
  <script src="js/frameworks/angular/angular.min.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/frameworks/angular/i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/frameworks/angular/ng-currency.js" type="text/javascript" xml:space="preserve"></script>

  <!--Own code-->
  <script src="js/control/index.js" type="text/javascript" xml:space="preserve"></script>
  <title>DAWM6DateCalculator</title>
</head>
<body>
  <div ng-controller="MatrixCalculatorController as MatrixCalculatorCtrl" id="main">
    <nav>
      <ul>
    <a ng-click="action='add'" href="#">Add two matrix</a>
    <a ng-click="action='multiply'" href="#">Multiply two matrix</a>
    <a ng-click="action='substract'" href="#">Substract two matrix</a>
    </nav>

    <div ng-show="action!='init'" id="options">
      <h1> Operation is : {{actionNames[action]}}</h1>
        <div>
        <label>Matrix rows and cols number: </label>
        <input id="rows" type="text" ng-model="MatrixCalculatorCtrl.sizeMatrix" /><br/>
      </div>
        <label>Range of the matrix: </label>
        <input id="range" type="text" ng-model="MatrixCalculatorCtrl.rangeMatrix" /><br/>
        <input type="submit" value="Genarate" ng-click="MatrixCalculatorCtrl.generateMatrix()"/>
    </div>
  <div id="result" ng-if="validated==1">
    <matrix-template></matrix-template>
  </div>
</div>
</body>
</html>
